* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a.active {
    color: #4F1787;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background: #c6ddee;
    color: #000;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #c6ddee;
    text-align: center;
    font-size: 0.9rem; /* ลดขนาดตัวอักษร */
}

.center-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    text-align: center;
}

.center-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    text-align: center;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}

.first {
    background: #97DEFF;
    color: #000;
    padding: 1rem;
}
/* กำหนดความสูงเต็มหน้าจอ */
html, body {
    height: 100%;
    margin: 0;
}

/* ใช้ Flexbox จัดโครงสร้าง */
body {
    display: flex;
    flex-direction: column;
}

/* กำหนดให้ main ขยายเต็มพื้นที่ว่าง */
main {
    flex: 1;
}



